<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand logo" href="/index">Fashion </a></h1>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collections <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/collections/1"><strong>All</strong></a></li>
              <li><a href="/category/Men/1">Men</a></li>
              <li><a href="/category/Women/1">Women</a></li>
              <li><a href="/category/Gifts/1">Gifts</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/about">About</a></li>
              <li><a href="/terms">Terms</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </li>
        </ul>

        <form class="navbar-form navbar-left searchbar" role="search" action="/collections/search" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="search_txt" placeholder="Search for products">
          </div>
        </form>
        <ul class="nav navbar-nav">

          {% if session.logged_in %}
          <li><a href="/user_edit" data-target="#login"><span class="glyphicon glyphicon-user"></span> {{session.name}}</a>
          <li><a href="/logout" data-target="#logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
          {% if session.is_seller %}
          <li><a href="/seller_product/{{session.id}}/1" data-target="#logout"><span class="glyphicon glyphicon-shopping-cart"></span> My Shop</a></li>
          {% else %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle cart" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span> Cart <span class="cart-counter">{{cart_count}}</span> <span class="caret"></span></a>
            <div class="dropdown-menu mini-cart">
              {% for item in cart %}
              <div class="row product-list">
                <div class="col-xs-3"><a href="#"><img src={{url_for('static',filename='images/photos/'+item.product.image)}} class="img-responsive" alt="product"></a></div>
                <div class="col-xs-7"><a href="#">{{item.product.name}}</a></div>
                <div class="col-xs-1"><a href="#"><i class="fa fa-close"></i></a></div>
              </div>
              {% endfor %}
              <div class="clearfix">
                <a href="/checkout" class="btn btn-primary">continue shopping</a> <a href="/checkout" class="btn btn-primary">checkout</a>
              </div>
            </div>
          </li>
          {% endif %}
          {% else %}
          <li><a href="/login" data-target="#login"><span class="glyphicon glyphicon-user"></span> Login</a>
          <li><a href="/register" data-target="#login"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          {% endif %}



        </ul>
      </div><!-- Wnavbar-collapse -->
    </div><!-- container-fluid -->
  </nav>
</div>
