{% extends 'layout.html' %}

{% block body %}
<!-- checkout -->
<div class="content inside-page register">
  <h2 class="title">Register</h2>
  <div class="breadcrumb"><a href="/index">Home</a> / Register</div>

  <form method="POST" action="">
    {% from "includes/_formhelpers.html" import render_field %}
    <fieldset>
      <div class="form-horizontal content-center center">

        {{ form.hidden_tag() }}
        {% for field in form %}
        <div class="form-group">
          <div class="col-sm-12">
            {{ render_field(field, class="form-control") }}
          </div>
        </div>
        {% endfor %}

        <div class="col-sm-8 col-sm-offset-4"><input type="submit" class="btn btn-primary pull-left" value="Create an Account"></div>


      </div>




    </fieldset>
  </form>



</div>
{% endblock %}
