{% extends 'layout.html' %}

{% block body %}
<!-- collections -->
<div class="content inside-page collection">




  <div class="pull-right sortby">
    <select class="form-control">
      <option>Order by A to Z</option>
      <option>Order by Z to A</option>
      <option>Order by Price</option>
      <option>Order by Rating</option>
    </select>
  </div>


  <h2 class="title">{{session.name}}'s shop</h2>

  <div class="pull-right sortby">
      <a href="/add_product" class="btn btn-primary pull-right">Add Product</a>
  </div>

  <div class="breadcrumb"><a href="/index">Home</a> / <a href="/collections">Shop</a></div>

  <div class="row">
    {% for item in product.items %}
    <div class="col-sm-2 col-xs-6 product_div">
      <div class="product">
        <a href="/product/{{item.id}}"><img src={{url_for('static',filename='images/photos/'+item.image)}} class="product_img"></a>
        <div class="row title-price">
          <div class="col-md-6">
            <h5><a href="/product/{{item.id}}">{{item.name}}</a></h5>
          </div>
          <div class="col-md-6"><span>$ {{item.actual_price}}</span></div>
        </div>
        <a href="/delete_product/{{item.id}}" class="btn btn-default"><i class="fa fa-trash-o"></i> delete product</a>
      </div>
    </div>
    {% endfor %}
  </div>




  <div class="text-center">
    <ul class="pagination">
      <li {% if not product.has_prev %} class="disabled" {% endif %}><a href="{% if product.has_prev %} {{url_for('seller_product', user_id=session['id'], page = product.page - 1)}} {% else %}#{% endif %}">«</a></li>
      {% for p in product.iter_pages() %}
      {% if p %}
      {% if p==product.page %}
      <li class="active">
        <a href="{{ url_for('seller_product',user_id=session['id'],page=p) }}">{{p}}</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for('seller_product',user_id=session['id'],page=p) }}">{{p}}</a>
      </li>
      {% endif %}
      {% else %}
      <li class="disabled"><a href="#">…</a></li>
      {% endif %}
      {% endfor %}
      <li {% if not product.has_next %} class="disabled" {% endif %}>
        <a href="{% if product.has_next %}{{ url_for('seller_product',
      user_id=session['id'],page = product.page+1) }}{% else %}#{% endif %}">
          »
        </a>
      </li>
    </ul>
  </div>

</div>
<!-- collections -->
{% endblock %}
